# Python
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
dist/
build/

# Envs
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data (ignore big data)
data/raw/
data/processed/
data/external/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
